

footer{
    background-color: lightgrey;
    width: 100%;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    border-radius: 15px;

    font-size: 2em;
    text-align: center;
    font-weight: bold;
}