.slide-view{
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    width: 100%;
}
.swipe-item{
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
    justify-content: center;
}