.App {
  text-align: center;
}
html {
  height: 100%;
}
h1 {
  user-select: none;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}

.slide-group {
  height: 100%;/*
  flex-wrap: nowrap; */
}
/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: #3d3e3f;

  margin-right: 15px;
}
/* change cursor to pointer when hovering over the caret/arrow */

.clickable:hover {
  cursor: pointer;
}
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down:before {
  content: "\25BC";
  color: grey;
  animation-name: rotate-caret;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

/* Hide the nested list */
.dsp-none{
  display: none;
}
@keyframes rotate-caret {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  100% {
    transform: scaleY(1)
  }
}
@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);

  }
}
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active-nested {
  animation: growDown 400ms ease-in-out forwards;
  transform-origin: top center;
  display: block;
}
.inactive-nested {
  display: none;
  animation: growUp 400ms ease-in-out forwards;
  transform-origin: top center;
}

.classement {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 16px;
}