.active {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}


/* Hide the nested list */
@keyframes scale{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.7);
    }
}