@font-face {
  font-family: 'Designer';
  src: url('font/Designer.otf') format('opentype');
}

@font-face {
  font-family: 'Rubik Italic';
  src: url('font/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik Variable';
  src: url('font/Rubik-VariableFont_wght.ttf') format('truetype');
}

.designer{
  font-family: 'Designer';
}

html body{
  font-family: 'Rubik Italic';
  /*background-color : #fff6d19c;*/
  background-color: white;
  z-index: 1;
}


.container {
  z-index: 2;
  padding : 0;
}


footer{
  background-color: #00459e;
  position:relative;
  color: white;
  bottom:0;  /* on le colle en bas */
  width:100%;
  z-index: 2;
}

header{
  z-index : 10000;
  background: #00459e;
  position: sticky;
  top: 0;
  font-size: large;
  font-family: 'Designer';
}

.navbar-nav{
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-end;
}

.nav-link{
  color: white;
}

.dropdown-menu.show{
  background: #00459e;
}

.dropdown-item{
  font-family: 'Rubik Italic';
  color: white;
}


@media screen and (max-width:575px) {
  .dropdown-item{
    font-size: large;
  }
  .nav-item{
    font-size: large;
  }
  header .navbar-brand img{
    height:10vh;
  }
  .navbar-collapse{
    padding-left: 5vw;
  }
}


@media screen and (min-width:575px) {
  .dropdown-item{
    font-size: x-small;
  }
  .nav-item{
    font-size: x-small;
  }
  header .navbar-brand img{
    height:5vh;
  }
}


@media screen and (min-width:675px) {
  .dropdown-item{
    font-size: small;
  }
  .nav-item{
    font-size: small;
  }
  header .navbar-brand img{
    height:6vh;
  }
}

@media screen and (min-width:815px) {
  .dropdown-item{
    font-size: medium;
  }
  .nav-item{
    font-size: medium;
  }
  header .navbar-brand img{
    height:8vh;
  }
}



@media screen and (min-width:918px) {
  .dropdown-item{
    font-size: large;
  }
  .nav-item{
    font-size: large;
  }
  header .navbar-brand img{
    height:10vh;
  }
}




.dropdown-item:hover{
  background:#00459e;
  color: #000000;
}

header .navbar-toggler{
  margin-right: 10px;
}

header .navbar{
  padding: 0;
}

header .navbar-brand{
  padding-left: 10px;
  margin: 10px 0; 
}



/* page d'accueil (index.php)*/

.title-event {
  font-family: 'Designer',sans-serif;
  color: #00459e;
  font-weight:900;
  font-size: xxx-large;
}

p.lead {
  font-family: 'Rubik Italic',sans-serif;
  color:#00459e;
  font-weight: normal;
  font-size:x-large;
  font-style: italic;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Ratio 16:9 pour une vidéo en plein écran */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustement de la vidéo pour remplir le conteneur */
}


/* stats part */

.stat-container{
  background: white;
  padding-top: 5vh;
}

.stats-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.stat-box {
    background-color: #00459e;
    padding: 20px;
    color: white;
    margin: 10px 0;
    max-width: 40vw;
    min-width: 40vw;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: 18%;
    text-align: center;
}

.edition-info{
  padding-top: 4vh;
  padding-bottom: 4vh;
}

@media screen and (min-width:850px) {
  .stat-box {
    background-color: #00459e;
    padding: 20px;
    margin: 10px 3vw;
    max-width: 25vw;
    min-width: 25vw;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: 18%;
    text-align: center;
  }
  .stats-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;       
  }

  
}

.stat-text h1{
  text-align: center;
  color: #00459e;
  font-family: 'Designer',sans-serif;
  justify-content: center;
  font-weight: bold;
  font-size: xx-large;
  display: flex;
}

.stat-box h3 {
    font-size: 18px;
    margin: 0;
}






.countdown-heading {
  opacity: 1;
  font-size: 24px;
  margin-bottom: 5vh;
  font-weight: bold;
  font-size: xx-large;
  color: #00459e;
  font-family: 'Designer',sans-serif;
}


.countdown {
  width: fit-content;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
}


.countdown-item {
  margin: 0 3vw;
  display: grid;

}



.countdown-value {
  font-size: 36px;
  font-weight: bold;
}

.countdown-label {
  font-size: 14px;
}

.countdown-container{
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.col.text-center{
  display: grid;
  justify-items: center;
}


.countdown-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('defile.jpeg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

.content {
  position: relative;
  text-align: center;
  z-index: 1;
}



.contact-person{
  border: 2px solid #9b9b9b;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.rowfooter{
  display: flex;
  justify-content: center;
}

.container_texte{
  padding : 5%;
}

.container_texte h1{
  color: #00459e;
  font-family: 'Designer';
  justify-content: center;
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  margin-bottom: 15px;
}

.container_texte h4 {
  text-indent: 5%;
  text-align: justify;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.rounded-img {
  border-radius: 50%;
  border: 2px solid #ccc;
}


/*participants*/

.container_logo_ecole{
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

.container_logo_ecole .row{
  display: flex;
  width: 95vw;
  align-items: center;
  justify-content: space-around;
}

.container_logo_ecole .row div{
  width: 30vw;
  padding-bottom: 5vh;
}